.window-close {
  position: fixed !important;
  left: 5px !important;
  right: 5px !important;
}

.window-minimize {
  display: none;
}

#tabs-container.top {
  padding-left: 63px !important;
  padding-right: 0px !important;
}

.sync-and-trash-container {
  margin-right: 25px;
}

.vivaldi {
  position: fixed !important;
  left: 30px;
  top: 5px;
}

#tabs-container {
  background-image: linear-gradient(#3A4043, #323739) !important;
}

#browser.maximized .vivaldi {
  top: 3px !important;
}

#browser.maximized #tabs-container {
  background-color: black;
  background-image: unset !important;
}

.vivaldi {
  position: fixed !important;
  left: 30px;
  top: 5px;
}

#tabs-container {
  background-image: linear-gradient(#3A4043, #323739) !important;
}

#browser.maximized .vivaldi {
  top: 3px !important;
}

#browser.maximized #tabs-container {
  background-color: black;
  background-image: unset !important;
}

#header {
  min-height: 30px !important;
}

#browser.minimal-ui .vivaldi {
  top: 4px !important;
}